{% load static %}

<html>

<head>
    <title>SystemSelection</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'CharacterCreator/index.css' %}">
</head>

<body>
    <div class="system-select clip-contents">
        <div class="selections">
            <div class="header">
                <div class="header-outer-frame">
                    <div class="header-inner-frame">
                        <p class="title">MakeRPG</p>
                        <p class="prompt">
                            For which RPG system would you like to create a character?
                        </p>
                    </div>
                </div>
            </div>
            <div class="button-set">
                <div class="outer-button-frame-1">
                    <div class="navigate-button-component-1">
                        <div class="encircling-1">
                            <p class="text-1">Some Text</p>
                        </div>
                    </div>
                </div>
                <div class="outer-button-frame-2">
                    <div class="navigate-button-component-2">
                        <div class="encircling-2">
                            <p class="text-2">Some Text</p>
                        </div>
                    </div>
                </div>
                <div class="outer-button-frame-3">
                    <div class="navigate-button-component-3">
                        <div class="encircling-3">
                            <p class="text-3">Some Text</p>
                        </div>
                    </div>
                </div>
                <div class="outer-button-frame-4">
                    <div class="navigate-button-component-4">
                        <div class="encircling-4">
                            <p class="text-4">Some Text</p>
                        </div>
                    </div>
                </div>
                <div class="outer-button-frame-5">
                    <div class="navigate-button-component-5">
                        <div class="encircling-5">
                            <p class="text-5">Some Text</p>
                        </div>
                    </div>
                </div>
                <div class="outer-button-frame-6">
                    <div class="navigate-button-component-6">
                        <div class="encircling-6">
                            <p class="text-6">Some Text</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
;